body {
	background-image: url("imgs/space.gif");
    background-color: black;
	zoom: 175%;
	margin: 5% 15% 5% 15%;
	font-family: 'Open Sans', sans-serif;
}

a{
	color: gray;
}

a:hover{
	color: blue;
}

h1, h2{
    color: white;
    text-align: center;
	font-family: 'Roboto', sans-serif;
}
td, th {
    border-top: 5px groove #a0a0a0;
    padding: 8px;
	background-color: #ffffff;
}

.botline{
    border-bottom: 2px groove #dddddd;
    padding: 8px;
	//background-color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.center {
	margin:0 0 0 45%;
}

.float_left{
	float: left;
}

.text_left{
	text-align: left;
}

.text_center{
	text-align: center;
}

.clickable:hover{
	background-color: yellow;
	cursor: pointer;
}

.clickable:active{
	background-color: lightblue;
	padding: 10;
}

#overlay {
    position: fixed; 
    display: block;
	pointer-events: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
	background-image: url("imgs/bg2.gif");
	opacity: 0.15;
    z-index: 1;
}



